astor
graphviz
git+git://github.com/phanrahan/magma.git#egg=magma
git+git://github.com/phanrahan/mantle.git#egg=mantle
git+git://github.com/phanrahan/loam.git#egg=loam
coreir
git+git://github.com/leonardt/veriloggen.git#egg=veriloggen
git+git://github.com/leonardt/fault.git#egg=fault
